<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="tawabocah.com - menggambar tawa di wajah anak Indonesia. Aneka lembar latihan, aktivitas, artikel &amp; video yang aman untuk kegiatan anak usian PAUD, TK, &amp; SD." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
<meta name="google-site-verification"
	content="vIMA_UV-ryKd1Xqco_uvSbXbirdHQPa6E3GSVL5akqk" />
</head>
<body data-target="#header" data-spy="scroll" data-offset="100">
	<div class="body">
		<header id="header" class="header-narrow"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_home::body"></header>
		<div role="main" class="main" id="home">
			<div class="container mt-lg">
				<div class="row">
					<div class="col-md-12 center">
						<h1 class="mb-sm small heading-primary">
							<strong>SEGERA</strong> DATANG!
						</h1>
						<p class="mb-sm lead">Halaman ini akan mengagumkan. Supaya
							semua orang puas, masih ada beberapa hal yang sedang kami
							selesaikan.</p>
						<p>Maaf &amp; mohon sabar menunggu</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr class="tall" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="progress-bars">
							<div class="progress-label">
								<span><strong>Konsep</strong></span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-primary"
									data-appear-progress-animation="100%">
									<span class="progress-bar-tooltip">100%</span>
								</div>
							</div>
							<div class="progress-label">
								<span><strong>Desain</strong></span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-primary"
									data-appear-progress-animation="85%"
									data-appear-animation-delay="300">
									<span class="progress-bar-tooltip">85%</span>
								</div>
							</div>
							<div class="progress-label">
								<span><strong>Pemrograman</strong></span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-primary"
									data-appear-progress-animation="75%"
									data-appear-animation-delay="600">
									<span class="progress-bar-tooltip">75%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr class="tall" />
					</div>
				</div>
			</div>
			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>
	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.contact.js}"></script>
	<script
		th:src="@{/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>