<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="tawabocah.com - menggambar tawa di wajah anak Indonesia. Aneka lembar latihan, aktivitas, artikel &amp; video yang aman untuk kegiatan anak usian PAUD, TK, &amp; SD." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{css/theme.css}" />
<link rel="stylesheet" th:href="@{css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{theme-blog.css}" />
<link rel="stylesheet" th:href="@{css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{vendor/modernizr/modernizr.min.js}"></script>
<meta name="google-site-verification"
	content="vIMA_UV-ryKd1Xqco_uvSbXbirdHQPa6E3GSVL5akqk" />
<meta name="p:domain_verify" content="423788e7164b9fcf7a783230f26a10eb" />
</head>
<body data-target="#header" data-spy="scroll" data-offset="100">
	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_home::body"> </header>
		<div role="main" class="main" id="home">
			<div class="slider-container rev_slider_wrapper"
				style="height: 1000px;">
				<div id="revolutionSlider" class="slider rev_slider"
					data-plugin-revolution-slider=""
					data-plugin-options='{&quot;delay&quot;: 4500, &quot;gridwidth&quot;: 1170, &quot;sliderLayout&quot;: &quot;fullscreen&quot;, &quot;fullScreenOffset&quot;: &quot;0&quot;}'>
					<ul>
						<li data-transition="fade"><img
							th:src="@{img/tawabocah/tawabocah-banner-front-1.jpg}" alt=""
							data-bgposition="center center" data-bgfit="cover"
							data-bgrepeat="no-repeat" class="rev-slidebg" />

							<div class="tp-caption top-label" data-x="center"
								data-hoffset="0" data-y="center" data-voffset="-95"
								data-start="500" style="z-index: 5"
								data-transform_in="y:[-300%];opacity:0;s:500;">Pendidikan
								Kreatif</div>

							<div class="tp-caption main-label" data-x="center"
								data-hoffset="0" data-y="center" data-voffset="-45"
								data-start="1500" data-whitespace="nowrap"
								data-transform_in="y:[100%];s:500;"
								data-transform_out="opacity:0;s:500;" style="z-index: 5"
								data-mask_in="x:0px;y:0px;">SENYUM UNTUK ANAK</div>

							<div class="tp-caption bottom-label" data-x="center"
								data-hoffset="0" data-y="center" data-voffset="5"
								data-start="2000" style="z-index: 5"
								data-transform_in="y:[100%];opacity:0;s:500;">Permainan
								Cerdas</div></li>
						<li data-transition="parallaxtotop"><img
							th:src="@{img/tawabocah/tawabocah-banner-front-2.jpg}" alt=""
							data-bgposition="center center" data-bgfit="cover"
							data-bgrepeat="no-repeat" class="rev-slidebg" />
							<div class="tp-caption featured-label" data-x="center"
								data-y="center" data-voffset="-45" data-start="500"
								style="z-index: 5" data-transform_in="y:[100%];s:500;"
								data-transform_out="opacity:0;s:500;">TAWABOCAH</div>

							<div class="tp-caption bottom-label" data-x="center"
								data-y="center" data-voffset="5" data-start="1000"
								data-transform_idle="o:1;"
								data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
								data-transform_out="opacity:0;s:500;"
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-splitin="chars" data-splitout="none"
								data-responsive_offset="on"
								style="font-size: 23px; line-height: 30px; z-index: 5"
								data-elementdelay="0.05">Aktivitas &amp; Permainan</div>

							<div class="tp-dottedoverlay tp-opacity-overlay"></div></li>
						<li data-transition="parallaxtotop"><img
							th:src="@{img/tawabocah/tawabocah-banner-front-3.jpg}" alt=""
							data-bgposition="center center" data-bgfit="cover"
							data-bgrepeat="no-repeat" class="rev-slidebg" />
							<div class="tp-caption featured-label" data-x="center"
								data-y="center" data-voffset="-45" data-start="500"
								style="z-index: 5" data-transform_in="y:[100%];s:500;"
								data-transform_out="opacity:0;s:500;">TAWABOCAH</div>

							<div class="tp-caption bottom-label" data-x="center"
								data-y="center" data-voffset="5" data-start="1000"
								data-transform_idle="o:1;"
								data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
								data-transform_out="opacity:0;s:500;"
								data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
								data-splitin="chars" data-splitout="none"
								data-responsive_offset="on"
								style="font-size: 23px; line-height: 30px; z-index: 5"
								data-elementdelay="0.05">Lembar Latihan</div>

							<div class="tp-dottedoverlay tp-opacity-overlay"></div></li>
					</ul>
				</div>
			</div>
			<section class="section section-primary mt-none">
				<div class="container">
					<div class="row mt-xl">
						<div class="counters counters-text-light">
							<div class="col-md-4 col-sm-4">
								<div class="counter appear-animation"
									data-appear-animation="fadeInUp"
									data-appear-animation-delay="300">
									<i class="fa fa-book"></i> <strong data-to="1000"
										data-append="+"> </strong> <label>Lembar Belajar</label>
									<p class="text-primary-inverse mb-xl">berlatih sejak dini</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="counter appear-animation"
									data-appear-animation="fadeInUp"
									data-appear-animation-delay="600">
									<i class="fa fa-scissors"></i> <strong data-to="500"
										data-append="+"> </strong> <label> Permainan &amp;
										Kerajinan </label>
									<p class="text-primary-inverse mb-xl">tawa di wajah anak</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="counter appear-animation"
									data-appear-animation="fadeInUp"
									data-appear-animation-delay="900">
									<i class="fa fa-lightbulb-o"></i> <strong data-to="100"
										data-append="+"> </strong> <label>Ide Aktivitas</label>
									<p class="text-primary-inverse mb-xl">dan terus bertambah</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="worksheets">
				<div class="container">
					<div class="featured-boxes">
						<div class="text-center">
							<h2 class="mb-sm mt-sm">
								Lembar <strong>Latihan</strong>
							</h2>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div
									class="featured-box featured-box-primary featured-box-effect-1">
									<div class="box-content">
										<a href="/lembar-latihan/bulan"> <i
											class="icon-featured fa fa-moon-o"> </i>
										</a>
										<h4 class="text-uppercase">Bulan</h4>
										<p>Lembar belajar &amp; permainan gratis bagi anak-anak
											Indonesia.</p>
										<br />
										<p class="text-sm">Sama seperti cahaya bulan memberikan
											penerangan cuma-cuma di malam hari, maka kami pun membagiakan
											berkas sinar pendidikan. Gunakan dengan bijak, bagikan,
											sehingga anak-anak Indonesia tdak berjalan dalam kegelapan.</p>
										<p>
											<a href="/lembar-latihan/bulan"
												class="lnk-primary learn-more"> Lihat <i
												class="fa fa-angle-right"> </i>
											</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div
									class="featured-box featured-box-primary featured-box-effect-1">
									<div class="box-content">
										<a href="/lembar-latihan/matahari"> <i
											class="icon-featured fa fa-sun-o"> </i>
										</a>
										<h4 class="text-uppercase">Matahari</h4>
										<p>Lembar latihan &amp; permainan sesuai kebutuhan Anda
											&amp; anak.</p>
										<br />
										<p class="text-sm">Matahari adalah sumber energi bagi
											kehidupan semua makhluk. Bagi kami, berkas-berkas sinar
											matahari dari Anda terus memberikan kami tenaga agar dapat
											menyajikan yang terbaik untuk anak Indonesia.</p>
										<p>
											<a href="/lembar-latihan/matahari"
												class="lnk-primary learn-more"> Lihat <i
												class="fa fa-angle-right"> </i>
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="home-concept">
					<div class="container">
						<div class="row center">
							<span class="sun"></span> <span class="cloud"></span>
							<div class="col-md-2 col-md-offset-1">
								<div class="process-image appear-animation"
									data-appear-animation="bounceIn">
									<img th:src="@{img/tawabocah/home-concept-1.jpg}" alt="" /> <strong>Belajar</strong>
								</div>
							</div>
							<div class="col-md-2">
								<div class="process-image appear-animation"
									data-appear-animation="bounceIn"
									data-appear-animation-delay="200">
									<img th:src="@{img/tawabocah/home-concept-2.jpg}" alt="" /> <strong>Bermain</strong>
								</div>
							</div>
							<div class="col-md-2">
								<div class="process-image appear-animation"
									data-appear-animation="bounceIn"
									data-appear-animation-delay="400">
									<img th:src="@{img/tawabocah/home-concept-3.jpg}" alt="" /> <strong>Aktivitas</strong>
								</div>
							</div>
							<div class="col-md-4 col-md-offset-1">
								<div class="project-image">
									<div id="fcSlideshow" class="fc-slideshow">
										<ul class="fc-slides">
											<li><a href="#"> <img class="img-responsive"
													th:src="@{img/tawabocah/home-concept-4.jpg}" alt="" />
											</a></li>
											<li><a href="#"> <img class="img-responsive"
													th:src="@{img/tawabocah/home-concept-5.jpg}" alt="" />
											</a></li>
											<li><a href="#"> <img class="img-responsive"
													th:src="@{img/tawabocah/home-concept-6.jpg}" alt="" />
											</a></li>
										</ul>
									</div>
									<strong class="our-work"> Tertawa </strong>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<section id="activities">
				<div class="container">
					<div class="featured-boxes">
						<div class="text-center">
							<h2 class="mb-sm mt-sm">
								<strong>Aktivitas</strong> Anak
							</h2>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<div
									class="featured-box featured-box-tertiary featured-box-effect-2">
									<div class="box-content">
										<a href="/aktivitas-anak/daun"> <i
											class="icon-featured fa fa-leaf"> </i>
										</a>
										<h4 class="text-uppercase">Daun</h4>
										<p>Aneka ide untuk aktivitas anak, mengajarkan anak
											belajar, bermain &amp; bersosialisasi dengan ceria.</p>
										<br />
										<p class="text-sm">Melihat hijaunya daun di sela-sela
											bangunan, dapat memberikan kesegaran tersendiri. Kami pun
											berusaha menyegarkan anak-anak, di sela-sela kesibukan
											sekolah &amp; cepatnya perkembangan teknologi.</p>
										<p>
											<a href="/aktivitas-anak/daun"
												class="lnk-tertiary learn-more"> Lihat <i
												class="fa fa-angle-right"> </i>
											</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div
									class="featured-box featured-box-quaternary featured-box-effect-2">
									<div class="box-content">
										<a href="/aktivitas-anak/pohon"> <i
											class="icon-featured fa fa-tree"> </i></a>
										<h4 class="text-uppercase">Pohon</h4>
										<p>Gabungan ide &amp; bahan-bahan pendukung untuk
											aktivitas kreatif anak di setiap saat.</p>
										<br />
										<p class="text-sm">Bercermin pada pohon dimana akar,
											batang, &amp; daun bekerja sama secara harmonis demi
											perkembangannya, kami pun membangun kumpulan ide, aktivitas,
											&amp; lembar belajar bagi anak-anak untuk perkembangan fisik
											&amp; mentalnya.</p>
										<p>
											<a href="/aktivitas-anak/pohon"
												class="lnk-quaternary learn-more"> Lihat <i
												class="fa fa-angle-right"> </i>
											</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div
									class="featured-box featured-box-secondary featured-box-effect-2">
									<div class="box-content">
										<a href="/aktivitas-anak/awan"> <i
											class="icon-featured fa fa-cloud"> </i></a>
										<h4 class="text-uppercase">Awan</h4>
										<p>Aneka artikel &amp; video yang menghibur &amp; aman
											untuk anak.</p>
										<br />
										<p class="text-sm">Ketika imajinasi terlibat, melihat awan
											pun menjadi sesuatu yang mengasyikkan. Biarkan anak melihat
											awan kami, dan imajinasi &amp; kreativitas membawa diri
											mereka terbang ke langit.</p>
										<p>
											<a href="/aktivitas-anak/awan"
												class="lnk-secondary learn-more"> Lihat <i
												class="fa fa-angle-right"> </i>
											</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<div
					class="ssk-sticky ssk-center ssk-bottom ssk-round visible-md visible-lg"
					data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a> <a href=""
						class="ssk ssk-pinterest"></a>
				</div>
				<div class="ssk-group ssk-round visible-xs visible-sm mt-md"
					data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a> <a href=""
						class="ssk ssk-pinterest"></a> <a
						th:href="@{whatsapp://send(text='Menggambar tawa di wajah anak Indonesia - ' + ' www.tawabocah.com')}"
						data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
				</div>
			</div>
			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<!-- Vendor -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{vendor/common/common.min.js}"></script>
	<script th:src="@{vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{vendor/vide/vide.min.js}"></script>
	<!-- Theme Base, Components and Settings -->
	<script th:src="@{js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{js/views/view.contact.js}"></script>
	<script
		th:src="@{vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>