<!doctype html>
<html class="fixed">
<head>

<!-- Basic -->
<meta charset="UTF-8"/>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="tawabocah.com - menggambar tawa di wajah anak Indonesia. Aneka lembar latihan, aktivitas, artikel &amp; video yang aman untuk kegiatan anak usian PAUD, TK, &amp; SD." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/stylesheets/theme.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/stylesheets/skins/default.css}" />
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/stylesheets/theme-custom.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.js}"></script>

</head>
<body>
	<!-- start: page -->
	<section class="body-sign">
		<div class="center-sign">
			<a href="/" class="logo pull-left"> <img
				th:src="@{/img/logo.png}" height="54" alt="tawabocah" />
			</a>

			<div class="panel panel-sign">
				<div class="panel-title-sign mt-xl text-right">
					<h2 class="title text-uppercase text-weight-bold m-none">
						<i class="fa fa-user mr-xs"></i> Login
					</h2>
				</div>
				<div class="panel-body">
					<form action="index.html" method="post">
						<div class="form-group mb-lg">
							<label>Email</label>
							<div class="input-group input-group-icon">
								<input name="username" type="text" class="form-control input-lg" />
								<span class="input-group-addon"> <span
									class="icon icon-lg"> <i class="fa fa-envelope-o"></i>
								</span>
								</span>
							</div>
						</div>

						<div class="form-group mb-lg">
							<div class="clearfix">
								<label class="pull-left">Password</label> <a
									href="pages-recover-password.html" class="pull-right">Lupa
									password?</a>
							</div>
							<div class="input-group input-group-icon">
								<input name="pwd" type="password" class="form-control input-lg" />
								<span class="input-group-addon"> <span
									class="icon icon-lg"> <i class="fa fa-lock"></i>
								</span>
								</span>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-8">
								<div class="checkbox-custom checkbox-default">
									<input id="RememberMe" name="rememberme" type="checkbox" /> <label
										for="RememberMe">Remember Me</label>
								</div>
							</div>
							<div class="col-sm-4 text-right">
								<button type="submit" class="btn btn-primary hidden-xs">Sign
									In</button>
								<button type="submit"
									class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign
									In</button>
							</div>
						</div>

						<span class="mt-lg mb-lg line-thru text-center text-uppercase">
							<span>atau</span>
						</span>

						<div class="mb-xs text-center">
							<a class="btn btn-facebook mb-md ml-xs mr-xs">Login dengan <i
								class="fa fa-facebook"></i></a>
						</div>

						<p class="text-center">
							Belum punya akun? <a href="pages-signup.html">Daftar!</a>
						</p>

					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- end: page -->

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.js}"></script>
	<script
		th:src="@{/vendor/jquery-browser-mobile/jquery.browser.mobile.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/vendor/nanoscroller/nanoscroller.js}"></script>
	<script
		th:src="@{/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.js}"></script>
	<script th:src="@{/vendor/jquery-placeholder/jquery-placeholder.js}"></script>

	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/javascripts/theme.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/javascripts/theme.custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/javascripts/theme.init.js}"></script>

</body>
</html>