<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Lembar Latihan Anak (paud - SD) - tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="Aneka buku latihan sesuai kebutuhan. Terdiri dari berbagai topik untuk kegiatan anak usia PAUD, TK, &amp; SD. Download sesuai yang kamu perlukan." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png" />
	
<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_lembar_latihan::body"> </header>
		<div role="main" class="main">
			<section class="page-header page-header-color page-header-primary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/"> Home </a></li>
								<li><a href="/#worksheets"> Lembar Latihan </a></li>
								<li><a href="/lembar-latihan/matahari"> Matahari </a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-sun-o mr-sm fa-2x"></i>
							<h1>Pembelian</h1>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<div class="mb-lg">
					Untuk saat ini, pembelian dapat dilakukan melalui <a href="#footer"
						data-hash data-hash-offset="70">email</a> atau <a href="#footer"
						data-hash data-hash-offset="70">whatsapp</a>.
				</div>
			</div>

			<section class="section section-default mt-none mb-none"
				id="buyCatalog">
				<div class="container">
					<h4>Buku dari Katalog</h4>
					<ol>
						<li>Pilih buku yang diinginkan dari <a
							href="/lembar-latihan/matahari/katalog" target="_blank">katalog</a></li>
						<li>Kirim <a href="#footer" data-hash data-hash-offset="70">email</a>
							atau <a href="#footer" data-hash data-hash-offset="70">whatsapp</a>
							berisi judul buku yang diinginkan
						</li>
						<li>Kami akan menghubungi Anda</li>
					</ol>
				</div>
			</section>

			<section
				class="section section-default section-default-scale-1 mt-none mb-none"
				id="buySelfMade">
				<div class="container">
					<h4>Buku yang dibuat sendiri</h4>
					<ol>
						<li>Pilih buku yang diinginkan dari <a
							href="/lembar-latihan/matahari/buat" target="_blank">template</a></li>
						<li>Kirim <a href="#footer" data-hash data-hash-offset="70">email</a>
							atau <a href="#footer" data-hash data-hash-offset="70">whatsapp</a>
							berisi detail buku yang diinginkan:
							<ul>
								<li>rentang angka (min-max)</li>
								<li>jumlah halaman</li>
								<li>urutan soal</li>
								<li>judul buku</li>
							</ul>
						</li>
						<li>Kami akan menghubungi Anda</li>
					</ol>
				</div>
			</section>

			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}">
	</script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">		
	</script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>

	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.contact.js}"></script>
	<script
		th:src="@{/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
