<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Lembar Latihan Anak (paud - SD) - tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="Aneka buku latihan sesuai kebutuhan. Terdiri dari berbagai topik untuk kegiatan anak usia PAUD, TK, &amp; SD. Download sesuai yang kamu perlukan." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://dl.dropboxusercontent.com/s/ot3rk91oitpqe18/logo-vertical.png?dl=0" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_lembar_latihan::body"> </header>
		<div role="main" class="main">
			<section class="page-header page-header-color page-header-primary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/"> Home </a></li>
								<li><a href="/#worksheets"> Lembar Latihan </a></li>
								<li><a href="/lembar-latihan/matahari"> Matahari </a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-sun-o mr-sm fa-2x"></i>
							<h1>Syarat &amp; Ketentuan</h1>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<h3>Syarat &amp; Ketentuan umum</h3>
				<p>Dengan mengunduh konten digital dari tawabocah, berarti Anda
					menyetujui syarat dan ketentuan di bawah ini:
				<ul>
					<li>Konten digital ini ditujukan untuk keperluan kegiatan
						belajar mengajar, baik untuk pribadi atau pendidikan, dan TIDAK
						digunakan untuk keperluan komersial/jual beli.</li>
					<li>Anda dapat mengunduh konten digital dari situs tawabocah
						maupun email yang dikirimkan tawabocah. Konten digital yang
						diunduh dapat disimpan pada komputer/gadget pribadi, ditayangkan,
						dan dicetak untuk keperluan kegiatan belajar mengajar, tetapi
						TIDAK diperjualbelikan.</li>
					<li>Konten digital TIDAK dialihkan ke website lain atau media
						cetak.</li>
					<li>Konten digital TIDAK direproduksi (copy-paste), diubah
						atau didistribusikan tanpa adanya izin tertulis dari tawabocah.</li>
					<li>Anda TIDAK menghapus watermark, tautan, atau hak cipta
						tawabocah yang terdapat dalam konten digital.</li>
					<li>Isi dan tampilan konten digital merupakan hak cipta
						tawabocah.</li>
				</ul>
				</p>

				<hr class="tall" />
				<h3>Lisensi</h3>
				<p>Harga dan pembelian lisensi konten digital dari tawabocah
					terbagi atas lisensi di bawah ini</p>
				<br />
				<h4>Lisensi Pribadi</h4>
				<p>Pihak yang termasuk dalam pribadi adalah:
				<ul>
					<li>orang tua yang mengajari anak sendiri</li>
					<li>perorangan yang memberikan pengajaran atas nama pribadi
						(bukan atas nama sekolah, organisasi kursus, atau organisasi
						pendidikan lain, baik organisasi offline maupun online)</li>
				</ul>
				</p>
				<br />
				<h4>Lisensi Organisasi Non-Profit</h4>
				<p>Pihak yang termasuk dalam organisasi non-profit adalah:
				<ul>
					<li>perorangan atau organisasi yang memberikan pengajaran atas
						nama organisasi non profit (nirlaba)</li>
				</ul>
				</p>
				<br />
				<h4>Lisensi Organisasi Profit</h4>
				<p>Pihak yang termasuk dalam organisasi profit adalah:
				<ul>
					<li>perorangan yang memberikan pengajaran atas nama sekolah,
						lembaga kursus, atau lembaga pendidikan lain, baik lembaga offline
						maupun online</li>
					<li>sekolah, organisasi kursus, atau organisasi lain, baik
						organisasi offline maupun online yang salah satu sumber
						pendapatannya dari kegiatan belajar mengajar</li>
					<li>perorangan atau organisasi komersil yang menggunakan
						konten digital untuk keperluan CSR (corporate social
						responsibility)</li>
				</ul>
				</p>
				<hr class="tall" />
				<strong>Syarat dan ketentuan yang tercantum pada halaman
					ini dapat berubah sewaktu-waktu tanpa pemberitahuan terlebih
					dahulu.</strong>
			</div>
			<div class="container">
				<div
					class="ssk-sticky ssk-center ssk-bottom ssk-round visible-md visible-lg"
					data-image="https://dl.dropboxusercontent.com/s/ot3rk91oitpqe18/logo-vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a> <a href=""
						class="ssk ssk-pinterest"></a>
				</div>
				<div class="ssk-group ssk-round visible-xs visible-sm mt-md"
					data-image="https://dl.dropboxusercontent.com/s/ot3rk91oitpqe18/logo-vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a> <a href=""
						class="ssk ssk-pinterest"></a> <a
						th:href="@{whatsapp://send(text='Buku latiah, aktivitas, dan permainan untuk anak - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
						data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
				</div>
			</div>
			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>
	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.contact.js}"></script>
	<script
		th:src="@{/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
