<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Lembar Latihan Anak (paud - SD) - tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="Aneka buku latihan sesuai kebutuhan. Terdiri dari berbagai topik untuk kegiatan anak usia PAUD, TK, &amp; SD. Download sesuai yang kamu perlukan." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<!-- Social kit css -->
<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_lembar_latihan::body"> </header>
		<div role="main" class="main shop">
			<section class="page-header page-header-color page-header-primary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/"> Home </a></li>
								<li><a href="/#worksheets"> Lembar Latihan </a></li>
								<li><a href="/lembar-latihan/matahari"> Matahari </a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-sun-o mr-sm fa-2x"></i>
							<h1>Katalog</h1>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<aside class="sidebar" id="sidebar" data-plugin-sticky=""
							data-plugin-options='{&quot;minWidth&quot;: 991, &quot;containerSelector&quot;: &quot;.container&quot;, &quot;padding&quot;: {&quot;top&quot;: 110}}'>
							<h4 class="heading-primary">Usia Anak</h4>
							<ul id="lstGrade" class="nav nav-list mb-xl show-bg-active">
								<li th:attr="class=${selectedGrade == null ? 'active' : ''}"
									data-grade=""><a data-hash="" data-hash-offset="85"
									href="/lembar-latihan/matahari/katalog">Semua </a></li>
								<li th:attr="class=${selectedGrade == 'paud' ? 'active' : ''}"
									data-grade="paud"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=paud)}">PAUD</a></li>
								<li th:attr="class=${selectedGrade == 'tk' ? 'active' : ''}"
									data-grade="tk"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=tk)}">TK</a></li>
								<li th:attr="class=${selectedGrade == 'sd1' ? 'active' : ''}"
									data-grade="sd1"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=sd1)}">1
										SD</a></li>
								<li th:attr="class=${selectedGrade == 'sd2' ? 'active' : ''}"
									data-grade="sd2"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=sd2)}">2
										SD</a></li>
								<li th:attr="class=${selectedGrade == 'sd3' ? 'active' : ''}"
									data-grade="sd3"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=sd3)}">3
										SD</a></li>
								<li th:attr="class=${selectedGrade == 'sd4' ? 'active' : ''}"
									data-grade="sd4"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=sd4)}">4
										SD</a></li>
								<li th:attr="class=${selectedGrade == 'sd5' ? 'active' : ''}"
									data-grade="sd5"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=sd5)}">5
										SD</a></li>
								<li th:attr="class=${selectedGrade == 'sd6' ? 'active' : ''}"
									data-grade="sd6"><a data-hash="" data-hash-offset="85"
									th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=sd6)}">6
										SD</a></li>
							</ul>
						</aside>
					</div>
					<div class="col-md-9">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-info-circle fa-lg mr-sm"></i>Pengaturan
							</div>
							<div class="panel-body">
								<div>
									<i class="fa fa-sort mr-sm"></i> Urut berdasarkan <select
										id="sortBySelect" class="ml-xs mr-xs">
										<option th:each="sortBy : ${sortByOptions}"
											th:text="${sortBy.value}" th:value="${sortBy.key}"
											th:selected="${sortBy.key} == ${selectedSortBy}"></option>
									</select>
								</div>
								<div class="mt-sm">
									<i class="fa fa-th mr-sm"></i> Tampilkan <select
										id="pageSizeSelect" class="ml-xs mr-xs">
										<option th:each="pageSize : ${pageSizes}"
											th:text="${pageSize}" th:value="${pageSize}"
											th:selected="${pageSize} == ${selectedPageSize}"></option>
									</select> item per halaman
								</div>
							</div>
						</div>
						<ul class="products product-thumb-info-list"
							data-plugin-masonry="true">
							<li th:each="workbookCatalogItem : ${workbookCatalogItems}"
								class="col-md-4 col-sm-6 col-xs-12 product"><a
								href="shop-product-sidebar.html"> </a> <span
								class="product-thumb-info"> <a
									href="/lembar-latihan/matahari/beli"
									class="add-to-cart-product"> <span><i
											class="fa fa-shopping-cart"></i>Beli</span>
								</a> <a
									th:href="@{/lembar-latihan/matahari/katalog/detail(id=${workbookCatalogItem.id})}">
										<span class="product-thumb-info-image"> <span
											class="product-thumb-info-act"><span
												class="product-thumb-info-act-right"><em><i
														class="fa fa-sun-o"></i> Detail</em></span> </span> <img alt=""
											class="img-responsive"
											th:src="${workbookCatalogItem.thumbnailPath}" />
									</span>
								</a> <span class="product-thumb-info-content"> <a
										th:href="@{/lembar-latihan/matahari/katalog/detail(id=${workbookCatalogItem.id})}">
											<h4 th:text="${workbookCatalogItem.title}"></h4> <span
											class="price mt-sm"> <ins>
													<span class="amount"
														th:text="${workbookCatalogItem.priceFormatted}"></span>
												</ins>
										</span>
									</a>
								</span>
							</span></li>
						</ul>
					</div>
				</div>
				<div class="row" id="paginationNoRandom"
					th:if="${workbookCatalogItems.getTotalPages() > 1 and selectedSortBy != 'random'}">
					<div class="col-md-12">
						<ul class="pagination pull-right">
							<li
								th:class="${workbookCatalogItems.getNumber() == 0} ? disabled"><a
								class="lnk-primary"
								th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=1, sb=${selectedSortBy}, g=${selectedGrade})}">
									<i class="fa fa-angle-double-left"></i>
							</a></li>
							<li
								th:class="${workbookCatalogItems.getNumber() == 0} ? disabled"><a
								class="lnk-primary"
								th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=${workbookCatalogItems.getNumber()}, sb=${selectedSortBy}, g=${selectedGrade})}"><i
									class="fa fa-angle-left"></i></a></li>
							<li
								th:class="${workbookCatalogItems.getNumber() == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}"><a
								class="lnk-primary"
								th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=${page}, sb=${selectedSortBy}, g=${selectedGrade})}"
								th:text="${page}"></a></li>
							<li
								th:class="${workbookCatalogItems.getNumber() + 1 == workbookCatalogItems.getTotalPages()} ? disabled"><a
								class="lnk-primary"
								th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize}, p=${workbookCatalogItems.getNumber() + 2}, sb=${selectedSortBy}, g=${selectedGrade})}"><i
									class="fa fa-angle-right"></i></a></li>
							<li
								th:class="${workbookCatalogItems.getNumber() + 1 == workbookCatalogItems.getTotalPages()} ? disabled"><a
								class="lnk-primary"
								th:href="@{/lembar-latihan/matahari/katalog(ps=${selectedPageSize},p=${workbookCatalogItems.getTotalPages()}, sb=${selectedSortBy}, g=${selectedGrade})}"><i
									class="fa fa-angle-double-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div
				class="ssk-sticky ssk-center ssk-bottom ssk-round visible-md visible-lg"
				data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
				<a href="" class="ssk ssk-facebook"></a> <a href=""
					class="ssk ssk-twitter"></a> <a href="" class="ssk ssk-google-plus"></a>
				<a href="" class="ssk ssk-pinterest"></a>
			</div>
			<div class="ssk-group ssk-round visible-xs visible-sm mt-md"
				data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
				<a href="" class="ssk ssk-facebook"></a> <a href=""
					class="ssk ssk-twitter"></a> <a href="" class="ssk ssk-google-plus"></a>
				<a href="" class="ssk ssk-pinterest"></a>
				<a
					th:href="@{whatsapp://send(text='Kegiatan belajar mengajar dan permainan anak yang mendidik dan berbobot - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
					data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
			</div>
		</div>
		<footer class="dark" id="footer" th:include="shared/footer::body">
		</footer>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}"></script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}"></script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}"></script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>

	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>

	<!-- Current Page Vendor and Views -->

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
