<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Lembar Latihan Anak (paud - SD) - tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="Aneka buku latihan sesuai kebutuhan. Terdiri dari berbagai topik untuk kegiatan anak usia PAUD, TK, &amp; SD. Download sesuai yang kamu perlukan." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<!-- Social kit css -->
<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_lembar_latihan::body"> </header>
		<div role="main" class="main shop">
			<section class="page-header page-header-color page-header-primary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/"> Home </a></li>
								<li><a href="/#worksheets"> Lembar Latihan </a></li>
								<li><a href="/lembar-latihan/matahari"> Matahari </a></li>
								<li><a href="/lembar-latihan/matahari/buat"> Buat
										Sendiri </a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-close mr-sm fa-2x"></i>
							<h1>Perkalian</h1>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="col-md-12"
							th:include="matahari/workbook_generator_multiplication_form::body"></div>
					</div>
					<div class="col-md-1">
						<div class="lightbox"
							data-plugin-options='{&quot;delegate&quot;: &quot;a&quot;, &quot;type&quot;: &quot;image&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}, &quot;mainClass&quot;: &quot;mfp-with-zoom&quot;, &quot;zoom&quot;: {&quot;enabled&quot;: true, &quot;duration&quot;: 300}}'>
							<a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs"
								href="https://dl.dropboxusercontent.com/s/7gmukb7owgw1yej/Perkalian%202.jpg?dl=0"> <img class="img-responsive"
								src="https://dl.dropboxusercontent.com/s/7gmukb7owgw1yej/Perkalian%202.jpg?dl=0" alt="Perkalian" width="110"
								height="110" />
							</a> <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs"
								href="https://dl.dropboxusercontent.com/s/gomk3058sm0ivsv/Perkalian%203.jpg?dl=0"> <img class="img-responsive"
								src="https://dl.dropboxusercontent.com/s/gomk3058sm0ivsv/Perkalian%203.jpg?dl=0" alt="Perkalian" width="110"
								height="110" />
							</a> <a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs"
								href="https://dl.dropboxusercontent.com/s/4lrukxywv1rzbhr/Perkalian%204.jpg?dl=0"> <img class="img-responsive"
								src="https://dl.dropboxusercontent.com/s/4lrukxywv1rzbhr/Perkalian%204.jpg?dl=0" alt="Perkalian" width="110"
								height="110" />
							</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="lightbox"
							data-plugin-options='{&quot;delegate&quot;: &quot;a&quot;, &quot;type&quot;: &quot;image&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}, &quot;mainClass&quot;: &quot;mfp-with-zoom&quot;, &quot;zoom&quot;: {&quot;enabled&quot;: true, &quot;duration&quot;: 300}}'>
							<a class="img-thumbnail img-thumbnail-hover-icon mb-xs mr-xs"
								href="https://dl.dropboxusercontent.com/s/uexx33zq3q9enxs/Perkalian%201.jpg?dl=0"> <img class="img-responsive"
								src="https://dl.dropboxusercontent.com/s/uexx33zq3q9enxs/Perkalian%201.jpg?dl=0" alt="Perkalian" width="330" /></a>
						</div>
						<div>
							<a id="download" href="https://www.dropbox.com/s/y3h6ma8wlupb4gy/Perkalian%201%20sampai%2020%20%28contoh%29%20%28kecil%20ke%20besar%29.pdf?dl=0" target="_blank"
								class="mb-sm mt-xs btn btn-primary btn-lg btn-block"> <i
								class="fa fa-download"></i> <strong>Download Contoh</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="dark" id="footer" th:include="shared/footer::body">
		</footer>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}"></script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>
	<script th:src="@{/vendor/jquery-placeholder/jquery-placeholder.js}"></script>


	<script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/vendor/nanoscroller/nanoscroller.js}"></script>
	<script th:src="@{/vendor/bootstrap-maxlength/bootstrap-maxlength.js}">
			</script>
	<script th:src="@{/javascripts/forms/examples.validation.js}"></script>

	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<script th:src="@{/javascripts/theme.js}"></script>

	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/fuelux/js/spinner.js}"></script>
	<script type="text/javascript">
	 $(document).ready(function () {
		 $('#txtPageSize').on('changed', function(el, v) {
			 	var val = v * 250;
			 	var amount = toCurrencyString(val);
				$('#confirmation').text(amount);
			});
	   });
	</script>


	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/javascripts/theme.custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>
	<script th:src="@{/javascripts/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
