<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Lembar Latihan Anak (paud - SD) - tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="Aneka buku latihan sesuai kebutuhan. Terdiri dari berbagai topik untuk kegiatan anak usia PAUD, TK, &amp; SD. Download sesuai yang kamu perlukan." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<!-- Social kit css -->
<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_lembar_latihan::body"> </header>
		<div role="main" class="main shop">
			<section class="page-header page-header-color page-header-primary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/"> Home </a></li>
								<li><a href="/#worksheets"> Lembar Latihan </a></li>
								<li><a href="/lembar-latihan/matahari"> Matahari </a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-sun-o mr-sm fa-2x"></i>
							<h1>Buat Sendiri</h1>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<ul class="nav nav-pills sort-source" data-sort-id="portfolio"
					data-option-key="filter"
					data-plugin-options='{"layoutMode": "fitRows", "filter": "*"}'>
					<li data-option-value="*" class="active"><a href="#">Semua</a></li>
					<!-- 					<li data-option-value=".math"><a href="#">Matematika</a></li> -->
				</ul>

				<hr />

				<div class="row">
					<ul class="portfolio-list sort-destination"
						data-sort-id="portfolio">
						<li class="col-md-3 col-sm-6 isotope-item math">
							<div class="portfolio-item">
								<a href="/lembar-latihan/matahari/buat/penjumlahan"> <span
									class="thumb-info thumb-info-lighten"> <span
										class="thumb-info-wrapper"> <img
											src="/img/tawabocah/math_plus.svg" class="img-responsive" alt="" />
											<span class="thumb-info-title"> <span
												class="thumb-info-inner">Penjumlahan</span>
										</span> <span class="thumb-info-action"> <span
												class="thumb-info-action-icon"><i
													class="fa fa-puzzle-piece"></i></span>
										</span>
									</span>
								</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 col-sm-6 isotope-item math">
							<div class="portfolio-item">
								<a href="/lembar-latihan/matahari/buat/pengurangan"> <span
									class="thumb-info thumb-info-lighten"> <span
										class="thumb-info-wrapper"> <img
											src="/img/tawabocah/math_minus.svg" class="img-responsive" alt="" />
											<span class="thumb-info-title"> <span
												class="thumb-info-inner">Pengurangan</span>
										</span> <span class="thumb-info-action"> <span
												class="thumb-info-action-icon"><i
													class="fa fa-puzzle-piece"></i></span>
										</span>
									</span>
								</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 col-sm-6 isotope-item math">
							<div class="portfolio-item">
								<a href="/lembar-latihan/matahari/buat/perkalian"> <span
									class="thumb-info thumb-info-lighten"> <span
										class="thumb-info-wrapper"> <img
											src="/img/tawabocah/math_multiply.svg" class="img-responsive" alt="" />
											<span class="thumb-info-title"> <span
												class="thumb-info-inner">Perkalian</span>
										</span> <span class="thumb-info-action"> <span
												class="thumb-info-action-icon"><i
													class="fa fa-puzzle-piece"></i></span>
										</span>
									</span>
								</span>
								</a>
							</div>
						</li>
						<li class="col-md-3 col-sm-6 isotope-item math">
							<div class="portfolio-item">
								<a href="/lembar-latihan/matahari/buat/pembagian"> <span
									class="thumb-info thumb-info-lighten"> <span
										class="thumb-info-wrapper"> <img
											src="/img/tawabocah/math_divide.svg" class="img-responsive" alt="" />
											<span class="thumb-info-title"> <span
												class="thumb-info-inner">Pembagian</span>
										</span> <span class="thumb-info-action"> <span
												class="thumb-info-action-icon"><i
													class="fa fa-puzzle-piece"></i></span>
										</span>
									</span>
								</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<footer class="dark" id="footer" th:include="shared/footer::body">
		</footer>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}"></script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}"></script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}"></script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>

	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>

	<!-- Current Page Vendor and Views -->

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
