<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title th:text="${postArticle.title} + ' - tawabocah'"></title>

<meta name="keywords" th:content="${postArticle.metaKeywords}" />
<meta name="description" th:content="${postArticle.metaDescription}" />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>
	<div class="body">
		<div class="body">
			<header id="header" class="header-narrow header-full-width"
				data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
				th:include="shared/header_aktivitas_anak::body"> </header>
			<div role="main" class="main">
				<section class="page-header page-header-color page-header-secondary">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="/">Home</a></li>
									<li><a href="/#activities">Aktivitas Anak</a></li>
									<li><a href="/aktivitas-anak/awan">Awan</a></li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<i class="fa fa-cloud mr-sm fa-2x"></i>
								<h1 th:text="${postArticle.title}"></h1>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row" th:if="${postArticle.hasVideo}">
						<div class="col-md-7 col-sm-12" id="content">
							<div class="embed-responsive embed-responsive-16by9"
								th:utext="${postArticle.iframeVideoCode}"></div>
						</div>
					</div>
					<div class="row mb-sm mt-sm"
						th:if="${postArticle.containsMainContent}">
						<div class="col-md-12 col-sm-12"
							th:utext="${postArticle.htmlMainContent}"></div>
					</div>
					<div class="row mt-xl mb-xl text-sm">
						<div class="col-md-12 col-sm-12" id="source"
							th:if="${postArticle.originalSource != null}"
							th:utext="${'Sumber: ' + postArticle.originalSource}"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<a th:if="${postArticle.hasPrevArticle}"
								th:href="@{/aktivitas-anak/awan/post(id=${postArticle.prevId})}"
								class="mb-sm mt-xs btn btn-secondary btn-borders"> <i
								class="fa fa-backward mr-xs"></i> <strong>Sebelumnya</strong>
							</a> <span class="mr-md ml-md"></span> <a
								th:if="${postArticle.hasNextArticle}"
								th:href="@{/aktivitas-anak/awan/post(id=${postArticle.nextId})}"
								class="mb-sm mt-xs btn btn-secondary btn-borders"> <strong>Berikutnya</strong>
								<i class="fa fa-forward ml-xs text-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="container"
					th:if="${postArticle.containsAdditionalContent}">
					<div
						class="heading heading-border heading-middle-border mt-xl mb-lg">
						<h3 class="heading-secondary">
							<strong>Tahukah</strong> kamu?
						</h3>
					</div>
					<div class="row">
						<div class="col-md-12" id="additional"
							th:utext="${postArticle.htmlAdditionalContent}"></div>
					</div>
				</div>
				<div th:attr="data-image=${postArticle.thumbnailPath}"
					th:attrAppend="data-text=${postArticle.title}"
					class="ssk-sticky ssk-center ssk-bottom ssk-round mt-lg visible-md-block visible-lg-block">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
				</div>
				<div th:attr="data-image=${postArticle.thumbnailPath}"
					th:attrAppend="data-text=${postArticle.title}"
					class="ssk-group ssk-round container mt-lg visible-xs-block visible-sm-block mt-md">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
					<a
						th:href="@{whatsapp://send(text=${postArticle.title} + ' - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
						data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
				</div>
			</div>
			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>
	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.contact.js}"></script>
	<script
		th:src="@{/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>