<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Aktivitas Anak (kegiatan individu &amp; kelompok) -
	tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="Aneka aktivitas &amp; bahan belajar anak usia PAUD, TK, &amp; SD. Kegiatan sudah termasuk bahan belajar, persiapan &amp; cara mengejar, beserta hal-hal yang harus dinilai/diperhatikan. Cocok untuk orang tua &amp; guru / pengajar." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png?dl=0" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_aktivitas_anak::body"> </header>
		<div role="main" class="main">
			<section class="page-header page-header-color page-header-quaternary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li><a href="/#activities">Aktivitas Anak</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-tree mr-sm fa-2x"></i>
							<h1>Pohon</h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-cogs fa-lg mr-sm"></i>Pengaturan
					</div>
					<div class="panel-body">
						<div>
							<i class="fa fa-sort mr-sm"></i> Urut berdasarkan <select
								id="sortBySelect" class="ml-xs mr-xs">
								<option th:each="sortBy : ${sortByOptions}"
									th:text="${sortBy.value}" th:value="${sortBy.key}"
									th:selected="${sortBy.key} == ${selectedSortBy}"></option>
							</select>
						</div>
						<div class="mt-sm">
							<i class="fa fa-th mr-sm"></i> Tampilkan <select
								id="pageSizeSelect" class="ml-xs mr-xs">
								<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
									th:value="${pageSize}"
									th:selected="${pageSize} == ${selectedPageSize}"></option>
							</select> post per halaman
						</div>
					</div>
				</div>
				<!-- Don't delete this, required for masonry layout -->
				<ul class="nav nav-pills sort-source" data-sort-id="portfolio"
					data-option-key="filter"
					data-plugin-options='{"layoutMode": "masonry", "filter": "*"}'>
				</ul>
				<!-- Don't delete this, required for masonry layout -->

				<div class="row">
					<ul class="portfolio-list sort-destination"
						data-sort-id="portfolio">
						<li th:each="postLessonPlan : ${postLessonPlans}"
							class="col-md-3 col-sm-6 col-xs-12 isotope-item ${postLessonPlan.grade}">
							<div class="portfolio-item">
								<a style="text-decoration: none;"
									th:href="@{/aktivitas-anak/pohon/post(id=${postLessonPlan.id})}">
									<span class="thumb-info thumb-info-lighten"> <span
										class="thumb-info-wrapper p-none"> <img
											th:src="${postLessonPlan.thumbnailPath}"
											class="img-responsive" th:alt="${postLessonPlan.imageAlt}" />
									</span> <span class="thumb-info-caption"> <span
											class="thumb-info-caption-text thumb-info-caption-text-custom center">
												<div>
													<strong><span th:text="${postLessonPlan.title}"
														class="text-weight-bold mb-none mt-xs text-color-quaternary">
													</span></strong>
												</div>
												<div>
													<span class="label label-quaternary m-xs"
														th:text="${postLessonPlan.grade}"> </span>
												</div>
										</span>
									</span>
								</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<div
					class="ssk-sticky ssk-center ssk-bottom ssk-round visible-md visible-lg"
					data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
				</div>
				<div class="ssk-group ssk-round visible-xs visible-sm mt-md"
					data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
					<a
						th:href="@{whatsapp://send(text='Kegiatan belajar mengajar dan permainan anak yang mendidik dan berbobot - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
						data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
				</div>
			</div>
			<div class="container" id="paginationNoRandom"
				th:if="${postLessonPlans.getTotalPages() > 1 and selectedSortBy != 'random'}">
				<div class="row center">
					<div class="form-group col-md-12 pagination-centered">
						<ul class="pagination">
							<li th:class="${postLessonPlans.getNumber() == 0} ? disabled"><a
								class="lnk-quaternary"
								th:href="@{/aktivitas-anak/pohon(ps=${selectedPageSize}, p=1, sb=${selectedSortBy})}">
									<i class="fa fa-angle-double-left"></i>
							</a></li>
							<li th:class="${postLessonPlans.getNumber() == 0} ? disabled"><a
								class="lnk-quaternary"
								th:href="@{/aktivitas-anak/pohon(ps=${selectedPageSize}, p=${postLessonPlans.getNumber()}, sb=${selectedSortBy})}"><i
									class="fa fa-angle-left"></i></a></li>
							<li
								th:class="${postLessonPlans.getNumber() == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}"><a
								class="lnk-quaternary"
								th:href="@{/aktivitas-anak/pohon(ps=${selectedPageSize}, p=${page}, sb=${selectedSortBy})}"
								th:text="${page}"></a></li>
							<li
								th:class="${postLessonPlans.getNumber() + 1 == postLessonPlans.getTotalPages()} ? disabled"><a
								class="lnk-quaternary"
								th:href="@{/aktivitas-anak/pohon(ps=${selectedPageSize}, p=${postLessonPlans.getNumber() + 2}, sb=${selectedSortBy})}"><i
									class="fa fa-angle-right"></i></a></li>
							<li
								th:class="${postLessonPlans.getNumber() + 1 == postLessonPlans.getTotalPages()} ? disabled"><a
								class="lnk-quaternary"
								th:href="@{/aktivitas-anak/pohon(ps=${selectedPageSize},p=${postLessonPlans.getTotalPages()}, sb=${selectedSortBy})}"><i
									class="fa fa-angle-double-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container" id="paginationRandom"
				th:if="${selectedSortBy == 'random'}">
				<div class="row center">
					<a class="btn btn-quaternary btn-lg"
						th:href="@{/aktivitas-anak/pohon(ps=${selectedPageSize}, sb=${selectedSortBy})}">
						<i class="fa fa-refresh"></i> Acak lagi
					</a>
				</div>
			</div>
			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>
	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.contact.js}"></script>
	<script
		th:src="@{/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
