<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Aktivitas Anak (Pohon) - tawabocah</title>

<meta name="keywords" th:content="${postLessonPlan.metaKeywords}" />
<meta name="description" th:content="${postLessonPlan.metaDescription}" />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_aktivitas_anak::body"> </header>
		<div role="main" class="main">
			<section
				class="page-header page-header-color page-header-quaternary mb-none">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li><a href="/#activities">Aktivitas Anak</a></li>
								<li><a href="/aktivitas-anak/pohon">Pohon</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-tree mr-sm fa-2x"></i>
							<h1 th:text="${postLessonPlan.title}"></h1>
						</div>
					</div>
				</div>
			</section>
			<section class="section section-default mt-none pt-sm pb-sm">
				<div class="container">
					<div class="row mb-lg">
						<div class="col-md-12 col-sm-12">
							<span> <i
								class="fa fa-lg fa-clock-o text-color-quaternary"> </i> <strong><span
									class="ml-xs mr-xl" th:text="${postLessonPlan.estimatedTime}"></span>
							</strong>
							</span> <span th:each="metaKeyword : ${postLessonPlan.metaKeywordSet}"
								class="label label-quaternary m-xs" th:text="${metaKeyword}"></span>
						</div>
					</div>
					<div th:utext="${postLessonPlan.htmlOverviewContent}"></div>
				</div>
			</section>

			<div class="container">
				<div class="tabs tabs-quaternary">
					<ul class="nav nav-tabs nav-justified">
						<li class="active"><a href="#preparation" data-toggle="tab"
							class="text-center"> <i class="fa fa-star-half-o"></i>
								Persiapan
						</a></li>
						<li><a href="#lesson" data-toggle="tab" class="text-center">
								<i class="fa fa-star"></i> Kegiatan
						</a></li>
						<li><a href="#extend" data-toggle="tab" class="text-center">
								<i class="fa fa-plus"></i> Tambahan
						</a></li>
						<li><a href="#review" data-toggle="tab" class="text-center">
								<i class="fa fa-commenting-o"></i> Evaluasi
						</a></li>
					</ul>
					<div class="tab-content">
						<div id="preparation" class="tab-pane active">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<section class="section section-default p-lg mt-none mb-sm">
										<h5 class="heading-quaternary">Alat &amp; Bahan</h5>
										<div
											th:utext="${postLessonPlan.htmlPreparationMaterialContent}"></div>
									</section>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="pt-lg mt-none mb-sm"
										th:utext="${postLessonPlan.htmlPreparationStepContent}">
									</div>
								</div>
							</div>
							<div class="row text-center">
								<div class="col-md-12">
									<div class="text-center">
										<a id="download" th:href="${postLessonPlan.assetPath}"
											target="_blank" class="mb-sm mt-xs btn btn-quaternary btn-lg">
											<i class="fa fa-download"> </i> <strong>Download</strong>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div id="lesson" class="tab-pane"
							th:utext="${postLessonPlan.htmlLessonContent}"></div>
						<div id="extend" class="tab-pane"
							th:utext="${postLessonPlan.htmlExtensionContent}"></div>
						<div id="review" class="tab-pane"
							th:utext="${postLessonPlan.htmlReviewContent}"></div>
					</div>
				</div>
			</div>
			<div class="container"
				th:if="${postLessonPlan.containsAdditionalContent}">
				<div id="additional"
					class="heading heading-border heading-middle-border heading-middle-border-center mt-xl mb-lg">
					<h3 class="heading-quaternary">
						<strong>Tahukah</strong> kamu?
					</h3>
				</div>
				<div class="row">
					<div class="col-md-12"
						th:utext="${postLessonPlan.htmlAdditionalContent}"></div>
				</div>
			</div>
			<div th:attr="data-image=${postLessonPlan.thumbnailPath}"
				th:attrAppend="data-text=${postLessonPlan.title}"
				class="ssk-sticky ssk-center ssk-bottom ssk-round mt-lg visible-md-block visible-lg-block">
				<a href="" class="ssk ssk-facebook"></a> <a href=""
					class="ssk ssk-twitter"></a> <a href="" class="ssk ssk-google-plus"></a>
				<a href="" class="ssk ssk-pinterest"></a>
			</div>
			<div th:attr="data-image=${postLessonPlan.thumbnailPath}"
				th:attrAppend="data-text=${postLessonPlan.title}"
				class="ssk-group ssk-round container mt-lg visible-xs-block visible-sm-block mt-md">
				<a href="" class="ssk ssk-facebook"></a> <a href=""
					class="ssk ssk-twitter"></a> <a href="" class="ssk ssk-google-plus"></a>
				<a href="" class="ssk ssk-pinterest"></a>
				<a
					th:href="@{whatsapp://send(text=${postLessonPlan.title} + ' - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
					data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
			</div>
		</div>
		<footer class="dark" id="footer" th:include="shared/footer::body">
		</footer>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>
	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.contact.js}"></script>
	<script
		th:src="@{/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
