<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="tawabocah.com - menggambar tawa di wajah anak Indonesia" />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png?dl=0" />

<!-- Favicon -->
<link rel="shortcut icon" href="/app/img/favicon.ico"
	type="image/x-icon" />
<link rel="apple-touch-icon" href="/app/img/apple-touch-icon.png" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/simple-line-icons/css/simple-line-icons.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{css/theme.css}" />
<link rel="stylesheet" th:href="@{css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{css/theme-blog.css}" />
<link rel="stylesheet" th:href="@{css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{css/custom.css}" />

<link rel="stylesheet"
	th:href="@{vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_tentang_kami::body"> </header>
		<div role="main" class="main" id="home">
			<section class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="#">Home</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h1>Tentang Kami</h1>
						</div>
					</div>
				</div>
			</section>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-12">
						<img src="/img/logo-vertical.svg" width="95%" />
					</div>
					<div class="col-md-9 col-sm-12">
						<h3 class="heading-primary">
							<strong>Siapa</strong> Kami?
						</h3>
						<p>
							Menggambar tawa di wajah anak Indonesia, itulah tujuan kami. <br />
							Memberikan pendidikan &amp; keceriaan bermain bagi anak-anak
							melalui internet positif.
						</p>
					</div>
				</div>
				<hr class="tall" />
				<div class="text-right">
					<h3 class="heading-secondary mt-xl">
						Apa <strong>kegiatan</strong> kami?
					</h3>
					<ul
						class="list list-icons list-secondary list-icons-style-2 list-icons-reverse">
						<li><i class="fa fa-check"></i> Memberikan bahan belajar
							&amp; aktivitas untuk anak.</li>
						<li><i class="fa fa-check"></i>Membagikan artikel &amp; video
							yang aman dan positif untuk anak.</li>
						<li><i class="fa fa-check"></i>Membantu pengumpulan &amp;
							penyaluran donasi untuk pendidikan.</li>
					</ul>
				</div>

				<hr class="tall" />
				<h3 class="heading-tertiary mt-xl">
					Mengapa <strong>Alam</strong> sebagai judul?
				</h3>
				<div class="row">
					<div class="col-md-9 col-sm-12">
						<p>Kemajuan teknologi sangat membantu di semua aspek
							kehidupan. Untuk mengimbangi pesatnya kemajuan teknologi,
							pengetahuan dasar &amp; sosial harus sejalan agar anak dapat
							mengambil sisi positif teknologi.Di tawabocah, kami memanfaatkan
							teknologi untuk mengajarkan hal-hal dasar dan membantu anak
							bersosialisasi melalui aneka aktivitas.</p>
						<p>Untuk mengingatkan bahwa kehidupan bukan hanya sebatas
							layar kaca, kami mengingatkan kembali bahwa alam ada di sekitar
							kita. Aktivitas tawabocah pun banyak yang mendorong anak untuk
							berinteraksi dengan alam &amp; interaksi sosial.</p>
					</div>
					<div class="col-md-3 col-sm-12">
						<a data-plugin-tooltip href="#" data-original-title="Bulan"
							data-placement="bottom"> <i
							class="fa fa-3x fa-moon-o heading-primary mr-sm"></i>
						</a> <a data-plugin-tooltip href="#" data-original-title="Matahari"
							data-placement="bottom"> <i
							class="fa fa-3x fa-sun-o heading-primary mr-sm"></i>
						</a> <a data-plugin-tooltip href="#" data-original-title="Daun"
							data-placement="bottom"> <i
							class="fa fa-3x fa-leaf heading-tertiary mr-sm"></i></a> <a
							data-plugin-tooltip href="#" data-original-title="Pohon"
							data-placement="bottom"> <i
							class="fa fa-3x fa-tree heading-quaternary mr-sm"></i>
						</a> <a data-plugin-tooltip href="#" data-original-title="Awan"
							data-placement="bottom"> <i
							class="fa fa-3x fa-cloud heading-secondary"></i></a>
					</div>
				</div>

			</div>


			<div class="container">
				<div
					class="ssk-sticky ssk-center ssk-bottom ssk-round visible-md visible-lg">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
				</div>
				<div class="ssk-group ssk-round visible-xs visible-sm mt-md">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
					<a
						th:href="@{whatsapp://send(text='Menggambar tawa di wajah anak Indonesia - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
						data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
				</div>
			</div>
			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<!-- Vendor -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{vendor/common/common.min.js}"></script>
	<script th:src="@{vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{vendor/jquery.stellar/jquery.stellar.min.js}">
		
	</script>
	<script
		th:src="@{vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{vendor/vide/vide.min.js}"></script>

	<!-- Theme Base, Components and Settings -->
	<script th:src="@{js/theme.js}"></script>

	<!-- Current Page Vendor and Views -->
	<script th:src="@{vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{js/views/view.contact.js}"></script>
	<script
		th:src="@{vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
