<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Aktivitas Anak (kegiatan individu &amp; kelompok) -
	tawabocah</title>

<meta name="keywords"
	content="lembar latihan anak, permainan anak, kerajinan anak, usia paud, tk, sd" />
<meta name="description"
	content="Aneka artikel / video yang aman untuk dilihat anak usia PAUD, TK, &amp; SD. Selain untuk pendidikan, dapat juga digunakan untuk bermain, mengisi waktu luang anak baik di hari biasa maupun liburan." />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />
<meta name="og:image"
	content="https://s6.postimg.org/4god3zkhd/logo_vertical.png?dl=0" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" th:href="@{/vendor/summernote/summernote.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.js}"></script>
</head>
<body>

	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_aktivitas_anak::body"> </header>
		<div role="main" class="main">
			<section class="page-header page-header-color page-header-tertiary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li><a href="/#activities">Aktivitas Anak</a></li>
								<li><a href="/aktivitas-anak/daun">Daun</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-leaf mr-sm fa-2x"></i>
							<h1>Baru</h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container">
				<form id="frmNew">
					<div>Password</div>
					<div class="mb-xl">
						<input type="password" id="token" maxlength="20" size="50"
							placeholder="password" autocomplete="off" autofocus="autofocus" />
					</div>

					<div>Title</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="title" maxlength="255"
							size="50" placeholder="title" />
					</div>

					<div>Asset path</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="assetPath"
							maxlength="300" size="100" placeholder="asset path" />
					</div>

					<div>Grade</div>
					<div class="mb-md">
						<select id="grade">
							<option value="paud" selected="selected">PAUD</option>
							<option value="tk">TK</option>
							<option value="sd1">1 SD</option>
							<option value="sd2">2 SD</option>
							<option value="sd3">3 SD</option>
							<option value="sd4">4 SD</option>
							<option value="sd5">5 SD</option>
							<option value="sd6">6 SD</option>
						</select>
					</div>

					<div>Meta Description</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="metaDescription"
							maxlength="255" size="50" placeholder="metaDescription" />
					</div>

					<div>Meta Keywords</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="metaKeywords"
							maxlength="255" size="50" placeholder="metaKeywords" />
					</div>

					<div>Thumbnail Path (HTML Tag)</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="thumbnailPath"
							maxlength="255" size="50" placeholder="thumbnailPath" />
					</div>

					<div>Image Path (HTML Tag)</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="imagePath"
							maxlength="255" size="50" placeholder="imagePath" />
					</div>

					<div>Thumbnail / Image Alt Text</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="thumbnailAlt"
							maxlength="255" size="50" placeholder="thumbnailAlt" />
					</div>

					<div>Overview content</div>
					<div id="htmlOverviewContent" class="summernote mb-md"
						data-plugin-summernote=""
						data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'></div>

					<div>Requirement content</div>
					<div id="htmlRequirementContent" class="summernote mb-md"
						data-plugin-summernote=""
						data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'></div>

					<div>Activity content</div>
					<div id="htmlActivityContent" class="summernote mb-md"
						data-plugin-summernote=""
						data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'></div>

					<div>Additional content</div>
					<div class="mb-md">
						<div id="htmlAdditionalContent" class="summernote"
							data-plugin-summernote=""
							data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'></div>
					</div>

					<div>Original Source</div>
					<div class="mb-md">
						<input type="text" autocomplete="off" id="originalSource"
							maxlength="255" size="50" placeholder="originalSource" />
					</div>

					<div class="mt-xl">
						<button type="submit" id="btnSubmit" class="btn btn-tertiary">
							<i class="fa fa-save mr-sm"></i>Save
						</button>
					</div>
				</form>
			</div>

			<div class="container">
				<div
					class="ssk-sticky ssk-center ssk-bottom ssk-round visible-md visible-lg"
					data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
				</div>
				<div class="ssk-group ssk-round visible-xs visible-sm mt-md"
					data-image="https://s6.postimg.org/4god3zkhd/logo_vertical.png">
					<a href="" class="ssk ssk-facebook"></a> <a href=""
						class="ssk ssk-twitter"></a> <a href=""
						class="ssk ssk-google-plus"></a>
					<a href="" class="ssk ssk-pinterest"></a>
					<a
						th:href="@{whatsapp://send(text='Aneka video dan artikel yang aman bagi anak - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
						data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
				</div>
			</div>
			<footer class="dark" id="footer" th:include="shared/footer::body">
			</footer>
		</div>
	</div>

	<script th:src="@{/vendor/jquery/jquery.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/vendor/nanoscroller/nanoscroller.js}"></script>

	<!-- Specific Page Vendor -->
	<script th:src="@{/vendor/summernote/summernote.js}"></script>

	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/javascripts/theme.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/javascripts/theme.init.js}"></script>

	<!-- Summernote spring  -->
	<script th:src="@{/js/tawabocah/daun.js}"></script>
</body>
</html>
