<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title th:text="${postWorksheet.title} + ' - tawabocah'"></title>

<meta name="keywords" th:content="${postWorksheet.metaKeywords}" />
<meta name="description" th:content="${postWorksheet.metaDescription}" />
<meta name="og:image" th:content="${postWorksheet.thumbnailPath}" />
<meta name="author" content="tawabocah.com" />
<meta name="theme-color" content="#f4511e" />

<link rel="shortcut icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}" type="image/x-icon" />

<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Vendor CSS -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/owl.carousel/assets/owl.theme.default.min.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/magnific-popup/magnific-popup.min.css}" />

<!-- Theme CSS -->
<link rel="stylesheet" th:href="@{/css/theme.css}" />
<link rel="stylesheet" th:href="@{/css/theme-elements.css}" />
<link rel="stylesheet" th:href="@{/theme-blog.css}" />
<link rel="stylesheet" th:href="@{/css/theme-shop.css}" />
<link rel="stylesheet" th:href="@{/css/theme-animate.css}" />
<link rel="stylesheet"
	th:href="@{/vendor/circle-flip-slideshow/css/component.css}" />

<!-- Current Page CSS -->
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/settings.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/layers.css}" />
<link rel="stylesheet" th:href="@{/vendor/rs-plugin/css/navigation.css}" />

<!-- Skin CSS -->
<link rel="stylesheet" th:href="@{/css/skins/default.min.css}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" th:href="@{/css/custom.min.css}" />

<link rel="stylesheet"
	th:href="@{/vendor/social-share-kit/css/social-share-kit.css}" />

<!-- Head Libs -->
<script th:src="@{/vendor/modernizr/modernizr.min.js}"></script>
</head>
<body>
	<div class="body">
		<header id="header" class="header-narrow header-full-width"
			data-plugin-options='{&quot;stickyEnabled&quot;: true, &quot;stickyEnableOnBoxed&quot;: true, &quot;stickyEnableOnMobile&quot;: true, &quot;stickyStartAt&quot;: 0, &quot;stickySetTop&quot;: &quot;0&quot;}'
			th:include="shared/header_lembar_latihan::body"> </header>
		<div role="main" class="main">
			<section class="page-header page-header-color page-header-primary">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li><a href="/"> Home </a></li>
								<li><a href="/#worksheets">Lembar Latihan</a></li>
								<li><a href="/lembar-latihan/bulan">Bulan</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-moon-o mr-sm fa-2x"></i>
							<h1 th:text="${postWorksheet.title}"></h1>
						</div>
					</div>
				</div>
			</section>

			<div class="container">
				<div class="row mb-sm">
					<div class="col-md-12 col-sm-12">
						<span th:each="metaKeyword : ${postWorksheet.metaKeywordSet}"
							class="label label-primary m-xs" th:text="${metaKeyword}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="lightbox"
							data-plugin-options='{&quot;delegate&quot;: &quot;a&quot;, &quot;type&quot;: &quot;image&quot;, &quot;mainClass&quot;: &quot;mfp-with-zoom&quot;, &quot;zoom&quot;: {&quot;enabled&quot;: true, &quot;duration&quot;: 300}}'>
							<a class="img-thumbnail mb-xs mr-xs"
								th:href="${postWorksheet.imagePath}"> <img
								class="img-responsive" th:alt="${postWorksheet.imageAlt}"
								th:src="${postWorksheet.hasThumbnail} ? ${postWorksheet.thumbnailPath} : ${postWorksheet.imagePath}" />
							</a>
						</div>
						<div>
							<a id="download" th:href="${postWorksheet.assetPath}"
								target="_blank"
								class="mb-sm mt-xs btn btn-primary btn-lg btn-block"> <i
								class="fa fa-download"></i> <strong>Download</strong>
							</a>
						</div>
					</div>
					<div class="col-md-8 col-sm-12">
						<div class="row">
							<div class="col-md-12 col-sm-12" id="content"
								th:utext="${postWorksheet.htmlMainContent}"></div>
						</div>
						<div class="row mt-xl mb-xl text-sm">
							<div class="col-md-12 col-sm-12" id="source"
								th:if="${postWorksheet.originalSource != null}"
								th:utext="${'Sumber: ' + postWorksheet.originalSource}"></div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<a th:if="${postWorksheet.hasPrevWorksheet}"
									th:href="@{/lembar-latihan/bulan/post(id=${postWorksheet.prevId})}"
									class="mb-sm mt-xs btn btn-primary btn-borders"> <i
									class="fa fa-backward mr-xs"></i> <strong>Sebelumnya</strong>
								</a> <span class="mr-md ml-md"></span> <a
									th:if="${postWorksheet.hasNextWorksheet}"
									th:href="@{/lembar-latihan/bulan/post(id=${postWorksheet.nextId})}"
									class="mb-sm mt-xs btn btn-primary btn-borders"> <strong>Berikutnya</strong>
									<i class="fa fa-forward ml-xs text-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container"
				th:if="${postWorksheet.containsAdditionalContent}">
				<div id="additional"
					class="heading heading-border heading-middle-border mt-xl mb-lg">
					<h3 class="heading-primary">
						<strong>Tahukah</strong> kamu?
					</h3>
				</div>
				<div class="row">
					<div class="col-md-12"
						th:utext="${postWorksheet.htmlAdditionalContent}"></div>
				</div>
			</div>
			<div th:attr="data-image=${postWorksheet.thumbnailPath}"
				th:attrAppend="data-text=${postWorksheet.title}"
				class="ssk-sticky ssk-center ssk-bottom ssk-round mt-lg visible-md-block visible-lg-block">
				<a href="" class="ssk ssk-facebook"></a><a href=""
					class="ssk ssk-twitter"></a> <a href="" class="ssk ssk-google-plus"></a>
				<a href="" class="ssk ssk-pinterest"></a>
			</div>
			<div th:attr="data-image=${postWorksheet.thumbnailPath}"
				th:attrAppend="data-text=${postWorksheet.title}"
				class="ssk-group ssk-round container mt-lg visible-xs-block visible-sm-block mt-md">
				<a href="" class="ssk ssk-facebook"></a> <a href=""
					class="ssk ssk-twitter"></a> <a href="" class="ssk ssk-google-plus"></a>
				<a href="" class="ssk ssk-pinterest"></a>
				<a
					th:href="@{whatsapp://send(text=${postWorksheet.title} + ' - ' + ' www.tawabocah.com' + ${#httpServletRequest.requestURI} + (${#httpServletRequest.queryString} != null ? '?' + ${#httpServletRequest.queryString} : ''))}"
					data-action="share/whatsapp/share" class="ssk ssk-whatsapp"></a>
			</div>
		</div>
		<footer class="dark" id="footer" th:include="shared/footer::body">
		</footer>
	</div>

	<!-- Vendor -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/jquery.appear/jquery.appear.min.js}"></script>
	<script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/jquery-cookie/jquery-cookie.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/common/common.min.js}"></script>
	<script th:src="@{/vendor/jquery.validation/jquery.validation.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.stellar/jquery.stellar.min.js}"></script>
	<script
		th:src="@{/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js}">
		
	</script>
	<script th:src="@{/vendor/jquery.gmap/jquery.gmap.min.js}"></script>
	<script th:src="@{/vendor/jquery.lazyload/jquery.lazyload.min.js}">
		
	</script>
	<script th:src="@{/vendor/isotope/jquery.isotope.min.js}"></script>
	<script th:src="@{/vendor/owl.carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}">
		
	</script>
	<script th:src="@{/vendor/vide/vide.min.js}"></script>
	<!-- Theme Base, Components and Settings -->
	<script th:src="@{/js/theme.js}"></script>
	<!-- Current Page Vendor and Views -->
	<script th:src="@{/vendor/rs-plugin/js/jquery.themepunch.tools.min.js}">
		
	</script>
	<script
		th:src="@{/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.contact.js}"></script>
	<script
		th:src="@{/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js}">
		
	</script>
	<script th:src="@{/js/views/view.home.js}"></script>

	<!-- Theme Custom -->
	<script th:src="@{/js/custom.js}"></script>

	<!-- Theme Initialization Files -->
	<script th:src="@{/js/theme.init.js}"></script>

	<script type="text/javascript"
		th:src="@{/vendor/social-share-kit/js/social-share-kit.js}"></script>
	<script type="text/javascript">
		SocialShareKit.init();
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-80270602-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>