/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
	background: #f4511e;
	border-color: #e2231e;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
	color: #f4511e;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
	background: #f4511e;
	-webkit-box-shadow: 0px 0px 1px #f4511e;
	box-shadow: 0px 0px 1px #f4511e;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
	background: #f4511e;
}
/* Progress Bar */
.progress-bar {
	background-color: #f4511e;
}

.progress .progress-bar-primary {
	background-color: #f4511e;
}
/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
	background: #f4511e;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(left, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
	background-image: linear-gradient(left, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(to right, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
	background-image: linear-gradient(to right, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
}
/* DatePicker */
.datepicker table {
	width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
	background: #f4511e;
}

.datepicker table thead tr:first-child th:hover {
	background: #f4511e;
}

.datepicker table tr td span:hover {
	background: #f4511e;
}

.datepicker table tr td.day:hover {
	background: #f4511e;
}

.datepicker table tfoot tr th:hover {
	background: #f4511e;
}
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
	background: #f4511e;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
	background: #f4511e;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
	background: #f4511e;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
	background-color: #f4511e;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
	background-color: #cd1e1a;
}

.datepicker.datepicker-primary table thead tr:last-child {
	background-color: #e84f4c;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
	background-color: #f4511e;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
	background: #f4511e;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
	background: #f4511e;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
	background: #f4511e;
}
/* Wizard */
.wizard-steps > li.active .badge {
	background-color: #f4511e;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
	border-top-color: #f4511e;
}

.wizard-tabs ul > li.active .badge {
	background-color: #f4511e;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
	background: #f4511e;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
	border-color: #f4511e;
	background: #f4511e;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
	color: #f4511e;
	border-color: #f4511e;
}
/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
	background-color: #f4511e !important;
}
/* Data Tables Loading */
.dataTables_processing {
	background-color: #f4511e;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
	color: #f4511e;
}
/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
	background: #f4511e;
	border-color: #e2231e;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
	color: #f4511e;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
	background: #f4511e;
	-webkit-box-shadow: 0px 0px 1px #f4511e;
	box-shadow: 0px 0px 1px #f4511e;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
	background: #f4511e;
}
/* Progress Bar */
.progress-bar {
	background-color: #f4511e;
}

.progress .progress-bar-primary {
	background-color: #f4511e;
}
/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
	background: #f4511e;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(left, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
	background-image: linear-gradient(left, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
	background-image: -webkit-linear-gradient(to right, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
	background-image: linear-gradient(to right, #eb6562 0, #f4511e 50%, #cd1e1a 100%);
}
/* DatePicker */
.datepicker table {
	width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
	background: #f4511e;
}

.datepicker table thead tr:first-child th:hover {
	background: #f4511e;
}

.datepicker table tr td span:hover {
	background: #f4511e;
}

.datepicker table tr td.day:hover {
	background: #f4511e;
}

.datepicker table tfoot tr th:hover {
	background: #f4511e;
}
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
	background: #f4511e;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
	background: #f4511e;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
	background: #f4511e;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
	background-color: #f4511e;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
	background-color: #cd1e1a;
}

.datepicker.datepicker-primary table thead tr:last-child {
	background-color: #e84f4c;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
	background-color: #f4511e;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
	background: #f4511e;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
	background: #f4511e;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
	background: #f4511e;
}
/* Wizard */
.wizard-steps > li.active .badge {
	background-color: #f4511e;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
	border-top-color: #f4511e;
}

.wizard-tabs ul > li.active .badge {
	background-color: #f4511e;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
	background: #f4511e;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
	border-color: #f4511e;
	background: #f4511e;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
	color: #f4511e;
	border-color: #f4511e;
}
/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
	background-color: #f4511e !important;
}
/* Data Tables Loading */
.dataTables_processing {
	background-color: #f4511e;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
	color: #f4511e;
}
