/* Add here all your CSS customizations */
body {
	padding: 0 !important;
}

.thumb-info .img-circle {
	border-radius: 50%;
}

#header .header-nav-main nav>ul>li>a:focus, #header .header-nav-main nav>ul>li>a:hover
	{
	background-color: #f4511e !important;
	color: #fff !important;
}

.pagination > .active > .lnk-primary {
	background: #f4511e !important;
	border-color:  #f4511e !important;
	color: #FFF !important;
}

.pagination > .active > .lnk-secondary {
	background: #1e88e5 !important;
	border-color:  #1e88e5 !important;
	color: #FFF !important;
}

.pagination > .active > .lnk-tertiary {
	background: #43a047 !important;
	border-color:  #43a047 !important;
	color: #FFF !important;
}

.pagination > .active > .lnk-quaternary {
	background: #6d4c41 !important;
	border-color:  #6d4c41 !important;
	color: #FFF !important;
}

.required {
	display: inline-block;
	color: #d2322d;
	font-size: 0.8em;
	font-weight: bold;
	position: relative;
	top: -0.2em;
}